---
title: maktopia
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">maktopia</h2>
		<p class="subtext editable">イカとピンク玉を愛する<strong>まけトピア</strong>のWebサイト</p>
		<!-- <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p> -->
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img class="profile-image" src="{{ site.baseurl }}/images/profile.png" width="250"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">About</h3>
			<p class="editable"><strong>まけトピア</strong></p>
			<p class="editable">イカとピンク玉をこよなく愛する</p>
			<p class="editable">ゲームで遊んだり、作ったり、機械学習したりする人</p>
			<p class="editable"><a href="{{ site.baseurl }}/about/">View Full Profile &rarr;</a></p>
		</div>
	</div>

</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Works</h3>
			<p class="editable">サークルやら何やらでいろいろやってきた記録</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img class="top-works-card" src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
