#subtitle {

  .text-wrapper {
    position: relative;
    display: inline-flex;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

  .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }

  .letter {
    display: inline-block;
    opacity: 0;
  }
}

